<a href="https://colab.research.google.com/github/Aceofsung/Microcredential/blob/master/PythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in "hello":
  print (i)

h
e
l
l
o

In [4]:
fam = ["jack", "rachel", "sam", "brian", "abigail", "sally"]
for i in fam:
  print("hi " + i.title())

hi Jack
hi Rachel
hi Sam
hi Brian
hi Abigail
hi Sally

In [5]:
numbers = list(range(1,21,2))
print(numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [16]:
number = int(input("Enter a number: "))

if (number % 2 != 0):
    print( str(number) + " is odd")
else:
    print( str(number) + " is even")

Enter a number: 6
6 is even

In [24]:
numb = int(input("Enter number: "))

if numb < 2: 
  print("Not Prime")
else:
 for i in range(1,100):
  if (numb % i == 0):
    print("It is prime")

Enter number: 3
It is prime
It is prime

In [25]:
for num in range(2, 101):
    if all(num%i!=0 for i in range(2, num)):
       print (num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [32]:
fam = ["jack", "rachel", "sam", "brian", "abigail", "sally", "ariana", "patrick", "nick", "amy", "jacob", "elizabeth", "sarah", "hamilton", "jackson", "washington", "kaylie"]
for i in range(1,11):
  print(fam[i:11])

['rachel', 'sam', 'brian', 'abigail', 'sally', 'ariana', 'patrick', 'nick', 'amy', 'jacob']
['sam', 'brian', 'abigail', 'sally', 'ariana', 'patrick', 'nick', 'amy', 'jacob']
['brian', 'abigail', 'sally', 'ariana', 'patrick', 'nick', 'amy', 'jacob']
['abigail', 'sally', 'ariana', 'patrick', 'nick', 'amy', 'jacob']
['sally', 'ariana', 'patrick', 'nick', 'amy', 'jacob']
['ariana', 'patrick', 'nick', 'amy', 'jacob']
['patrick', 'nick', 'amy', 'jacob']
['nick', 'amy', 'jacob']
['amy', 'jacob']
['jacob']